@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
  background-image: url('./bg.jpeg');
}

.App {
  text-align: center;
}

h1{
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  float: right;
  font-size: 1.5rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.onlyLeft{
  float: left;

}
.container{
  text-align: center;
  display: inline-block;
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: 
  typing 1s steps(20, end) forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}