@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
  background-image: url('./bg.jpeg');
}

.Home {
  text-align: center;
}

h1{
  color: red;
}
.navbar {
  overflow: hidden;
  background-color: red;
  font-family: Arial;
}

.onlyLeft{
  float: left;
}


.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
}


.dropdown {
  float: right;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 14px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  text-align: center;
  display: inline-block;
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: 
  typing 1s steps(20, end) forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}